@import '../../variables.scss';
@import '../../reset.scss';

.home-page {
  .top-section {
    background: url('https://img.alicdn.com/tfs/TB17IwMGNz1gK0jSZSgXXavwpXa-1440-696.png');
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $headerHeight 80px 0;
    .left-part {
      width: 450px;
      margin-right: 50px;
      .title {
        height: 45px;
        line-height: 45px;
        font-family: PingFangSC-Semibold;
        font-size: 32px;
        color: #FFF;
      }
      .description {
        height: 28px;
        line-height: 28px;
        font-family: PingFangSC-Light;
        font-size: 20px;
        color: #FFF;
        margin: 24px 0 56px;
      }
      .install {
        height: 44px;
        width: 160px;
        border-radius: 22px;
        background-color: #FFF;
        box-shadow: 0 6px 24px 0 rgba(42,0,110,0.20);
        line-height: 44px;
        font-size: 16px;
        text-align: center;
        font-family: PingFangSC-Medium;
        border: none;
        a {
          color: #805EE3;
        }
      }
    }
    .right-part {
      // flex: 7;
      width: 700px;
      video {
        outline: none;
        // width: calc(100% - 80px);
        width: 700px;
      }
    }
  }
  .feature-section {
    .feature-title {
      margin: 60px 0 90px;
      line-height: 32px;
      text-align: center;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #262626;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -28px;
        transform: translateX(-50%);
        width: 80px;
        height: 8px;
        border-radius: 5px;
        background: #ffcb1d;
      }
    }
    .feature-container {
      display: flex;
      // justify-content: space-around;
      flex-wrap: wrap;
      width: 1200px;
      margin: 0 auto;
      .feature-item {
        width: 234px;
        margin: 0 33px 80px;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: center;
        // margin-bottom: 80px;
        img {
          height: 90px;
        }
        h3 {
          margin-top: 40px;
          line-height: 30px;
          font-family: PingFangSC-Medium;
          font-size: 16px;
          color: #262626;
        }
        p {
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #8C8C8C;
          text-align: center;
          line-height: 30px;
        }
      }
    }
  }
  .user-section {
    padding: 60px 90px 110px;
    background: #e8e8e8;
    .user-title {
      line-height: 32px;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #262626;
      text-align: center;
      margin-bottom: 78px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -28px;
        transform: translateX(-50%);
        width: 80px;
        height: 8px;
        border-radius: 5px;
        background: #ffcb1d;
      }
    }
    .user-description {
      font-size: 18px;
      line-height: 26px;
      font-family: PingFangSC-Regular;
      color: #595959;
      text-align: center;
      margin-bottom: 80px;
    }
    .user {
      display: inline-block;
      img {
        width: calc(100% - 60px);
        margin: 0 30px;
      }
    }
    .next-slick .next-slick-dots {
      transform: translateY(50px);
    }
  };
}